body {
      background-image: url("Pics/SpaceWallpapers.jpg");
    background-repeat: repeat;
    flex;
    flex-wrap: wrap;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: lightskyblue;
    font-family: fantasy;
    text-align: center;
    font-size: 400%;
    border-style: solid;
}

h2 {
    color: lemonchiffon;
    text-align: center;
    border-style: solid;
}

h3 {
    color: lemonchiffon;
    text-align: center;
    border-style: solid;
}
table{
    background-color: white;
    
}

.text {
    font-family: serif;
    background-color: white
}

article {
    background-color: white;
    font-family:sans-serif;
    border-color: white;
    border-style: solid;
    padding-right: 30px;
}

.s {
    background-color: white;
    font-family: serif;
    border-color: white;
    border-style: solid;
    padding-right: 30px;
    padding-bottom: 20px;
}

a:visited {
    color: #E80ca2;
}

a:hover {
    color: #31e899;
}

p {
    padding: 20px;
}

.bx {
    background-color: white;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    list-style: none;
    margin: 0;
    background: deepskyblue;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: #1565C0;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
        padding-bottom: 20px;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
        padding-bottom: 20px;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

.solid {
    border-style: solid;
}

.flexbox-container {
    display flex;
    flex-wrap: wrap;
    justify-content: space-around align-item: center;
    align-content: center;
}

.flexbox-item {
    margin: 10px;
}

img.right {
    float: right;
}

img.left {
    float: left;
    margin-left: 10px;
}

img.inherit {
    float: inherit;
    margin-left: 10px;
}
iframe{ position:relative;float: none; padding: 20px;}

@media(max-width: 768px ) and (orientation: Landscape){
 .wrapper {
         
         max-width:100%;
         margin: auto;
     
    }
}
@media(min-width: 200px){
    .wrapper{
        max-width: 80%;
        margin: auto;
        
    }
}
img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.hamburger-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    /* Light gray background color */
}

.hamburger-list li {
    display: inline-block;
    margin-right: 10px;
}

.hamburger-list li:last-child {
    margin-right: 0;
}

.hamburger-list li a {
    text-decoration: none;
}
